/* RESET */
* {
  margin: 0;
  padding: 0;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

/*HERO COM IMAGEM + FILTRO*/

.hero {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  background: url('../img/i1.jpg') center/cover no-repeat;
  overflow: hidden;
}

/*filtro*/
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(150, 50, 50, 0.45);
  z-index: 0;
}

/*texto*/
.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.hero-content p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto 20px auto;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

/*botão*/
.hero-content button {
  padding: 12px 26px;
  border: none;
  border-radius: 8px;
  background-color: #ff6f6f;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.hero-content button:hover {
  background-color: #ff4b4b;
}

@media (max-width: 768px) {
  .hero {
    height: 60vh;
    padding: 20px;
  }

  .hero-content h1 {
    font-size: 32px;
  }

  .hero-content p {
    font-size: 16px;
    width: 90%;
  }
}

/*SEÇÃO 1 (QUEM SOMOS)*/

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.text {
  width: 50%;
  padding-right: 150px;
}

.text h2 {
  color: #e74c3c;
  font-size: 24px;
  margin-bottom: 15px;
}

.text p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.text button {
  background-color: #e74c3c;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.text button:hover {
  background-color: #c0392b;
}

.image {
  width: 60%;
}

.image img {
  width: 100%;
  border-radius: 10px;
}

/*SEÇÃO 2 (COMO DOAR)*/

.section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.text1 {
  width: 50%;
  padding-right: 150px;
}

.text1 h2 {
  color: #e74c3c;
  font-size: 24px;
  margin-bottom: 15px;
}

.text1 p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.text1 button {
  background-color: #e74c3c;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.text1 button:hover {
  background-color: #c0392b;
}

.image1 {
  width: 60%;
}

.image1 img {
  width: 100%;
  border-radius: 10px;
}
