/* RESET */
* {
  margin: 0;
  padding: 0;
}

a {
  color: #E15151;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #ffffff;
  padding: 0 40px;
  height: 8vh;
}

/* LISTA DE LINKS */
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;  /* IMPORTANTE! */
}

/* BOTÃO LOGOUT */
.logout-btn {
  background: #E15151;
  border: none;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 15px;
}

.logout-btn:hover {
  opacity: 0.8;
}

/* MENU MOBILE */
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #E15151;
  margin: 8px;
  transition: 0.3s;
}

/* RESPONSIVIDADE */
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    opacity: 1;
    margin-left: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

/* ANIMAÇÕES */
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
